<!DOCTYPE html>
<html>
   <head>
     <title> This page is for somthing <title>
   <head>
    <body>
     <title>email table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid black;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>  
     <thead>
            <tr>
                <th>name</th>
                <th>mail</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ email.name }}</td>
                <td>{{ email.mail }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
