<!DOCTYPE html>
<html>
<head>
  <title>my fav stuff </title>
</head>
<body>
  <div>
    <p>"A good programmer is someone who always looks both ways before crossing a one-way street." </p>
    <p>-Doug Linder</p>

    <h3>Fav Food:</h3>
    <ul>
      <li>brownies</li>
      <li>anything spicy</li>
      <li>steak</li>
    </ul>

    <h3>Fav Movie:</h3>
    <ol>
      <li>atlantis</li>
      <li>transformers 1 and 2</li>
    </ol>

    <h3>Links</h3>
      <a href="https://www.google.com/">Search Engine</a></li>
  </div>
</body>
</html>

